a {
  text-decoration: none;
}

.sc-cmTdod {
  width: 100vh;
  margin: 0 auto;
}

.sc-hrWEMg {
  position: relative;
  height: 40px;
  margin: 0px 30px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sc-hrWEMg :hover {
  background-color: #b0b4bb;
}

.sc-hrWEMg :active {
  background-color: #b0b4bb;
}


.sc-hrWEMg .list-item {
  height: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}


.sc-hrWEMg .item-left {
  position: relative;
  width: 60%;
  flex: 1 1 0%;
  height: 100%;
  display: flex;
  overflow: hidden;
}


.sc-hrWEMg .item-left .favicon {
  width: 48px;
  min-width: 48px;
  /* height: 60px; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  fill: rgb(61, 75, 249);
}

.sc-hrWEMg .item-left .title {
  max-width: calc(100% - 80px);
  font-size: 13px;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  line-height: 40px;
}

.sc-hrWEMg .item-left .tag-box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 11;
  margin-left: 20px;
}

.sc-hrWEMg .item-right {
  max-width: 30%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 20px;
  z-index: 11;
}

.sc-hrWEMg .item-right .item-menu {
  font-size: 12px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}

.sc-hrWEMg .item-right .item-menu .view {
  position: relative;
  cursor: pointer;
  padding: 0px;
  text-indent: 20px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}